<%- include ../Partials/header.ejs %>

<body class="bg-light" style="background: -moz-linear-gradient(top, rgb(26, 67, 128) 0%, white 100%);">
    <div class="container" style="background-image: url('/Assets/images/background.jpg'); background-size: cover; background-position: center; position: relative;">
        
        <%- include ../Partials/main_nav.ejs %>

        <div class="row justify-content-center align-items-center min-vh-100" style="position: relative; z-index: 1;">
            <div class="col-md-10">
                <br>
                <a href="/add" class="btn btn-sm mb-3" style="display: inline-block; text-align: left; background-color: rgb(12, 34, 61); color: white;">
                    <i class="fas fa-plus-circle"></i> Add Schedule
                </a>
                <table class="table table-bordered table-hover table-sm" style="border: 3px solid rgb(0, 0, 0); border-radius: 5px;">
                    <thead>
                        <tr>
                            <th class="text-center col-2">Employee</th>
                            <th class="text-center col-1">Sun</th>
                            <th class="text-center col-1">Mon</th>
                            <th class="text-center col-1">Tue</th>
                            <th class="text-center col-1">Wed</th>
                            <th class="text-center col-1">Thu</th>
                            <th class="text-center col-1">Fri</th>
                            <th class="text-center col-1">Sat</th>
                            <th class="text-center col-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let count = 0; count < WorkList.length; count++) { %>
                        <tr>
                            <td class="text-center"><%= WorkList[count].Name %></td>
                            <td class="text-center"><%= WorkList[count].Sun %></td>
                            <td class="text-center"><%= WorkList[count].Mon %></td>
                            <td class="text-center"><%= WorkList[count].Tue %></td>
                            <td class="text-center"><%= WorkList[count].Wed %></td>
                            <td class="text-center"><%= WorkList[count].Thu %></td>
                            <td class="text-center"><%= WorkList[count].Fri %></td>
                            <td class="text-center"><%= WorkList[count].Sat %></td>
                            <td class="text-center">
                                <a href="/worklist/edit/<%= WorkList[count]._id %>" class="btn btn-sm d-inline-flex mr-1" style="background-color: rgb(12, 34, 61); color: white;">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="/worklist/delete/<%= WorkList[count]._id %>" class="btn btn-sm d-inline-flex" style="background-color: rgb(248, 24, 24); color: white;">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <%- include ../Partials/footer.ejs %>
</body>
